*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

.box{
    background:darkblue;
    width:50px;
    height:150px;
    position:relative;
}

.circle-one{
    width:30px;
    height:30px;
    background:red;
    border-radius:50%;
    position:absolute;
    left: 20%;
    top:10%;
    filter:brightness(0)
}

.circle-two{
    width:30px;
    height:30px;
    background:orange;
    border-radius:50%;
    position:absolute;
    left: 20%;
    top:40%;
    filter:brightness(0)
}

.circle-three{
    width:30px;
    height:30px;
    background:green;
    border-radius:50%;
    position:absolute;
    left: 20%;
    top:70%;
    filter:brightness(0)
}