*{
    margin:0;
    padding:0;
    box-sizing:border-box;;
}

.one{
    height:100vh;
    background:red;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding:2rem;
    flex-direction: column;
}
.two{
    height:100vh;
    background:green;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding:2rem;
    flex-direction: column;
}

.three{
    height:100vh;
    background:blue;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding:2rem;
    flex-direction: column;
}

.four{
    height:100vh;
    background:purple;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding:2rem;
    flex-direction: column;
}


button{
    height:20px;
    width:20px;
    border-radius: 50%;
    margin-bottom:0.5rem;
    border:none;
    outline:none;
    cursor:pointer;
}

.red{
    background:red;
}
.blue{
    background:blue;
}

.green{
    background:green;
}
.purple{
    background:purple;
}

