*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.heart{
    height:100px;
    width:100px;
    background:hotpink;
    position:relative;
    transform:rotate(315deg) scale(1);
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0%{
        transform:scale(1) rotate(315deg);
    }
   25%{
       transform:scale(1.1) rotate(315deg);
   }
   50%{
    transform:scale(0.9) rotate(315deg);
   }
   75%{
    transform:scale(1.2) rotate(315deg);
   }
   100%{
       transform:scale(0.9) rotate(315deg);
   }
}

.heart::before{
    content:'';
    position:absolute;
    top:-50px;
    left:0;
    background:inherit;
    height:100px;
    width:100px;
    border-radius:50%;
}
.heart::after{
    content:'';
    position:absolute;
    top:0;
    right:-50%;
    background:inherit;
    height:100px;
    width:100px;
    border-radius:50%;
}