
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

#canvas{
    width:480px;
    height:300px;
    border:1px solid black;
}

.block{
    position:absolute;
    width:90px;
    height:30px;
    background: green;
}

.output{
    box-shadow: 1px 1px 4px 1px rgba(199,199,199,1);
    position:absolute;
    width:200px;
    font-size:2rem;
    text-align: center;
    line-height:300%;
    height:200px;
    color:green;
    display:none;
}